"*":
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "github"
      "language-clojure"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-sql"
      "language-toml"
      "metrics"
      "open-on-github"
      "package-generator"
      "spell-check"
      "symbols-view"
    ]
    packagesWithKeymapsDisabled: [
      "refactor"
      "es-identifier-highlight"
      "sort-lines"
      "csslint"
    ]
    telemetryConsent: "limited"
  csslint:
    hideOnNoErrors: true
  editor:
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "2ab09d56-2ab2-2fc5-7065-f68aca373175"
  "find-and-replace": {}
  linter:
    lintOnChange: false
  "linter-jscs":
    configPath: ".jscsrc"
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    showPanel: true
    statusBarRepresents: "Current File"
  "spell-check": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
