"*":
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "language-clojure"
      "language-go"
      "language-java"
      "language-perl"
      "language-objective-c"
      "language-property-list"
      "metrics"
      "open-on-github"
      "package-generator"
      "symbols-view"
      "language-toml"
    ]
    packagesWithKeymapsDisabled: [
      "refactor"
      "es-identifier-highlight"
      "sort-lines"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "2ab09d56-2ab2-2fc5-7065-f68aca373175"
  "find-and-replace": {}
  linter:
    ignoreVCSIgnoredFiles: false
    lintOnFly: false
    showErrorInline: false
    statusIconScope: "File"
  "linter-jscs":
    configPath: ".jscsrc"
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "spell-check": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
