[user]
  email = gilles.lepretre@lim.eu
  name = Gilles Lepretre
  redmineid = 27
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
[alias]
  aa = add --all
  aliases = config --get-regexp alias
  authors = !git ls-tree -r -z --name-only HEAD | xargs -0 -n1 git blame --line-porcelain HEAD |grep "^author "|sort|uniq -c|sort -nr
  ca = commit --amend
  caf = commit --amend --no-edit
  cb = checkout -b
  cm = commit -m
  co = checkout
  count = rev-list --count
  cv = commit -v
  cp = cherry-pick
  dc = icdiff --cached
  df = icdiff
  dm = icdiff master
  dms = diff master --stat
  ds = diff --stat
  last = log --all -n 1 --pretty=format:%H
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pr = push-review
  rph = rev-parse HEAD
  rpm = rev-parse master
  sa = !git stash apply && git diff --full-index --binary > .latest-stash
  save = !CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD) && git -c commit.gpgSign=false stash save -u wip-$CURRENT_BRANCH
  sd = stash drop
  st = status
  su = !git apply -R .latest-stash && rm .latest-stash
  up = !git fetch && LAST=$(git log --all -n 1 --pretty=format:%H) && BRANCH=$(git name-rev --name-only $LAST | cut -d '/' -f 3) && git checkout $BRANCH
[push]
  default = simple
[init]
  templatedir = /home/gilles/.git-templates
[commit]
  gpgSign = true
